<ion-header style="background-color: #29B462; text-align: center">
  <ion-navbar color="secondary">
    <ion-title>
      Deal?!
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item *ngFor="let item of list" (click)="gotoItemPage(item)" style="border-bottom: solid 1px #222222">
      {{ getItem(item.item) }}
      <button ion-button item-right icon-left *ngIf="(item.checkPrice > 0)" color="danger" outline
              style="margin-right: 10px; min-width: 80px">
        <ion-icon item-end name="arrow-round-up"></ion-icon>
        + {{ item.checkPrice.toFixed(2) }}
      </button>
      <button ion-button item-right icon-left *ngIf="(item.checkPrice == 0)" outline
              style="margin-right: 10px; ; min-width: 80px">
        <ion-icon item-end name="remove"></ion-icon>
        {{ item.checkPrice.toFixed(2) }}
      </button>
      <button ion-button item-right icon-left *ngIf="(item.checkPrice < 0)" color="secondary" outline
              style="margin-right: 10px; ; min-width: 80px">
        <ion-icon item-end name="arrow-round-down"></ion-icon>
        - {{ item.checkPrice.toFixed(2)*(-1) }}
      </button>
    </ion-item>
  </ion-list>

  <!--<button ion-button block (click)="getItemPrice()">Get Price</button>-->
  <!--<button ion-button block (click)="getSpecificItem()">Item</button>-->
</ion-content>
